


:root {
  --primary: #4A4D56;
  --secondary: #F9FAFB;
  --text-heading: #191D1D;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif !important;
} 



.custom-text-primary {
  color: var(--primary);
}

.custom-text-heading {
  color: var(--text-heading);  
  letter-spacing: 4px ; 
  font-size: 1.2rem; 

}
