


:root {
  --primary: #4A4D56;
  --secondary: #F9FAFB;
  --text-heading: #191D1D; 
  
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif !important;
  overflow-x: auto;
} 



.custom-text-primary {
  color: var(--primary);
}

.custom-text-heading {
  color: var(--text-heading);  
  font-size: 1.2rem; 

}

.letter-spacing-4 {
  letter-spacing: 4px;
}

.fs-18{
  font-size: 18px;
} 



.no-hover,
.no-hover:hover,
.no-hover:focus,
.no-hover:active,
.show > .no-hover.dropdown-toggle {
  background-color: transparent !important;
  color: #0A3DAF !important;     
  border-color: #0A3DAF !important;
  box-shadow: none !important; 
  
}  

.charts-background{
  padding: 10px; 
  border:1px solid #D9D9D9; 
  background-color: #FCFCFC;
}  

/* Tab Section */


.tab-background{
  background-color: #EDF3FE;
} 


.button-background{
color: #0A3DAF !important; 
border: none; 
border-radius: 6px; 
background: none;
}


.button-background:hover{
  background-color: #4c6eb7 ;
}

  
/* Employee Table Styles */




.page-link{
  border-radius: 8px;
  width: 2rem;
  height: 2rem;
  text-align: center; 
  color: #191D1D !important;
  font-size: 18px;
}



/* Charts Section */


.charts{
  width: 100% !important;
  height: 220px !important;
}




